.sidebar {
    align-items: center;
    background: linear-gradient(180deg, #000000 0%, rgba(15, 13, 15, 0.65) 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 24px 0 47px;
    width: 224px;
}

.reset-button {
    all: unset;
    align-items: center;
    background-color: #F0C551;
    border-radius: 6px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font: normal 700 14px/16px 'Roboto', sans-serif;
    height: 52px;
    justify-content: center;
    width: 160px;
}

.reset-button:hover {
    opacity: 0.8;
}